// iconfont
.BR
  font-size: 16px
  font-style: normal
  &:before
    font-family: iconfont!important
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: auto
.BR-home:before
  content: "\e001"
.BR-classify:before
  content: "\e002"
.BR-user:before
  content: "\e003"
.BR-rss:before
  content: "\e004"
.BR-date:before
  content: "\e005"
.BR-commt:before
  content: "\e006"
.BR-search:before
  content: "\e007"
.BR-tag:before
  content: "\e008"
.BR-top:before
  content: "\e009"
.BR-archive:before
  content: "\e00a"
.BR-next:before
  content: "\e00b"
.BR-prev:before
  content: "\e00c"
.BR-views:before
  content: "\e00d"
.BR-visitors:before
   content: "\e00e"
.BR-link:before
   content: "\e00f"
.BR-posts:before
  content: "\e010"
.BR-empty:before
  content: "\e011"
.BR-weibo:before
  content: "\e012"
.BR-weichat:before
  content: "\e013"
.BR-github:before
  content: "\e014"
.BR-email:before
  content: "\e015"
.BR-toc:before
  content: "\e016"
